@media only screen and (max-width: 769px) {
    .navbar-section {
        display: none;
    }
    .navbar-section-mobile {
        display: block;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width:1366px){
    .heading {
        font-size: 112px!important;
    }

    .paraf, .paraf p, p, .paraf-head, span.author-designation {
        font-size: 16px!important;
        line-height: 30px !important;
    }
    .heading-top {
        font-size: 115px!important;
        line-height: 120px;
    }
    .main-heading {
        font-size: 104px!important;
        line-height: 100px;
    }
    .home-section-07 .heading {
        font-size: 100px!important;
    }
    .price-plan-box ul li{
    font-size: 14px !important; 
    }
    .price-plan-box.price-plan-box-3 .sub-heading{
        font-size: 45px!important;
        line-height: 50px;
    }
    .main-team-Infor-box{
        top: -22vh;
        left: -34vh;
    }
    .home-section-04 .heading-top {
        font-size: 130px!important;
        line-height: 125px;
    }
    div#process-row-sec h4 {
        margin-bottom: 12px;
        margin-top: 18px;
        line-height: 25px !important;
    }
    
}
@media only screen and (min-device-width:800px) and (max-device-width:1280px){
    /* #home .black-heart-small:after {
        top: 35px;
        left: 11px;
    } */
}
@media only screen and (min-device-width:900px) and (max-device-width:1440px){
    .black-heart, .black-heart-small {
        position: relative;
        font-size: 115px!important;
        line-height: 120px;
    }
}


@media only screen and (max-width: 812px) and (orientation: landscape) and (min-aspect-ratio: 13 / 9){
.mobile-rotate-wrap {
    display: block !important;
    overflow: hidden !important;
}
}

/* iPhone 5/5s only */
@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:portrait) and (max-aspect-ratio:13/9) {
    #home .main-heading-1 {
        font-size: 40px!important;
        line-height: 40px;
    }
    
    .black-heart::before {
        transform: scale(0.35);
        justify-content: space-between;
    }
    .footer-section .con-2 p {
        width: 100%;
    }
    section#home {
        padding-top: 8vh !important;
        position: relative;
    }
    p.how-it-work-txst {
        margin-top: 16px;
        margin-bottom: 34px;
    }
    .heading {
        font-size: 50px!important;
        line-height: 50px;
    }
    .black-heart-small:after{
        display: none;
    }
    div#carouselExampleIndicators {
        margin-top: 30px;
    }
    .text-col-who {
        margin-top: 32px;
    }
    .price-plan-box.price-plan-box-3{
        margin-top: 35px;
    }
    section.copyright {
        padding: 12px 0px;
    }
    div#contact-row-ak img {
        position: relative;
        top: 3vh;
        display: block;
        right: 0;
        width: 100%;
    }
    .our-partner-name h3:after {
        content: "";
        position: absolute;
        display: block;
        width: 122px;
        height: 1px;
        background-color: #ffffff;
        top: 32px;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        z-index: 111;
    }
    /* .our-partner-name h3:after{
        display: none;
    } */
    .image-box img {
        width: 31.5%;
        padding: 10px 15px;
    }
    .padding-tb-80 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .text-right {
        text-align: center;
    }
    .vc_btn3-inline {
        display: block;
    }
    .heading-top {
        font-size: 50px!important;
        line-height: 50px;
    }
    .content, body, .paraf, .paraf p, p, .paraf-head, span.author-designation{
        text-align: center;  
    }
    .paraf, .paraf p, p, .paraf-head, span.author-designation {
        font-size: 14px!important;
        line-height: 25px !important;
    }
    .home-section-03 .heading-top {
        font-size: 46px!important;
        line-height: 46px;
    }
    .home-section-03 .heading-top.pt-4{
        padding-top: 0rem!important;
    }
    .main-team-Infor-box {
        padding: 12px 15px;
        top: 0px;
        left: 0px;
        margin-bottom: 30px;
    }
    .black-heart:after, div#process-row-sec:before{
        display: none;
    }
    .team-Infor-box.mt-3 {
        margin-bottom: 25px;
    }
    div#process-row-sec .numbers{
        margin: auto;
        padding: 13px 14px;
    }
    div#process-row-sec h4 {
        margin-bottom: 13px;
        margin-top: 15px;
        font-size: 22px!important;
    line-height: 29px !important;
    }
    div#process-row-sec p{
        width: 100%;
    }
    .process-row-sec-box {
        margin-bottom: 20px;
    }
    section#Pricing img {
        position: relative;
        right: auto;
        top: 32px;
        z-index: 111;
    }
    .main-heading {
        font-size: 50px!important;
        line-height: 50px;
    }
    .price-plan-box .sub-heading {
        font-size: 46px!important;
        line-height: 50px;
    }
    .price-plan-box.price-plan-box-3 .sub-heading {
        font-size: 35px!important;
        line-height: 50px;
    }
    .price-plan-box{
        padding: 35px 40px 35px;
    }
    div#contact-row-ak {
        display: flex;
        flex-direction: column-reverse;
    }
    body .float-start {
        float: none !important;
    }
    .price-plan-box.price-plan-box-1 {
        margin-top: 0px;
        width: 100%;
        padding: 53px 40px 35px;
    }
    .price-plan-box ul{
        text-align: left;   
    }
    section#Pricing img{
        top: 58px;
    }
    body .float-end {
        float: none !important;
    }
}
@media only screen and (max-width:812px) and (orientation:landscape) and (min-aspect-ratio:13/9) {
	.mobile-rotate-wrap {
		display: block !important;
		overflow: hidden !important;
	}
}

@media only screen and (min-device-width:375px) and (max-device-width:667px) and (orientation:portrait) and (max-aspect-ratio:13/9) {

}
@media only screen and (min-device-width:360px) and (max-device-width:640px) and (orientation:portrait) and (max-aspect-ratio:13/9) {
    .security-vision p:before {
        left: -20px;
    }
}
    
@media only screen and (min-device-width:414px) and (max-device-width:736px) and (orientation:portrait) and (max-aspect-ratio:13/9) {

}






@media only screen and (max-width: 812px) and (orientation: landscape) and (min-aspect-ratio: 13 / 9){
        .mobile-rotate-wrap {
            display: block !important;
            overflow: hidden !important;
        }
}